<h2>Reservations</h2>

<p>Veillez entrer les informations requises afin d'effectuer une reservation</p>


<form #reservationForm = "ngForm" (ngSubmit) = "getValues(reservationForm.value.depart)"> 
  <div class="form-group">
    <label for="depart">Point de depart : </label>
    <input required ngModel name = "depart" #depart="ngModel" class="form-control" type="text" id="depart" value="Veillez entrer votre point de depart">
    <div class="alert alert-danger" *ngIf="depart.touched && !depart.valid">L'adresse d'entrée est obligatoire!</div>
  </div>
  <button class="btn btn-primary" id = "submit">Submit</button>
</form>
