<h2>Verifier les disponibilitées</h2>

<p>Veillez entrer les informations correspondantes au disponibilitées qui vous interessent</p>


<form #disponibilityForm = "ngForm"  >
  <div class="form-group">

    <label for="ClassSelect">Veiller selectionner la classe que vous voulez</label>
    <select class="form-control" id="ClassSelect">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>

    <label for="BagagesNb">Veiller le nombre de bagages</label>
    <select class="form-control" id="BagagesNb">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>


  </div>
  <button class="btn btn-primary" id = "submit">Submit</button>
</form>
